# Feature Engineering
Feature Engineering ist der Prozess der Erstellung neuer Merkmale.

In [2]:
import pandas as pd
import numpy as np

Quelle Originaldatenset: https://www.kaggle.com/datasets/flashgordon/usa-airport-dataset

In [3]:
airports = pd.read_csv (r'short_airports.csv')
airports

,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long
0,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
1,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
2,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
3,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
4,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
5,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
6,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
7,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
8,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
9,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
10,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001
11,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
12,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
13,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
14,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001
15,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001

In [4]:
airports['empty_seats'] = airports['Seats'] - airports['Passengers']
airports

,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long,empty_seats
0,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355
1,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254
2,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61
3,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18
4,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7
5,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70
6,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11
7,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29
8,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355
9,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254
10,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61
11,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18
12,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7
13,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70
14,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11
15,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29

In [5]:
airports['Fly_date'] = pd.to_datetime(airports['Fly_date'])
airports.dtypes

Passengers                         int64
Seats                              int64
Flights                            int64
Distance                           int64
Fly_date                  datetime64[ns]
Origin_population                  int64
Destination_population             int64
Org_airport_lat                  float64
Org_airport_long                 float64
Dest_airport_lat                 float64
Dest_airport_long                float64
empty_seats                        int64
dtype: object

In [6]:
airports['Fly_day'] = airports['Fly_date'].dt.day_name()
airports

,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long,empty_seats,Fly_day
0,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday
1,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday
2,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday
3,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday
4,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday
5,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday
6,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday
7,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday
8,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday
9,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday
10,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday
11,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday
12,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday
13,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday
14,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday
15,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday

In [7]:
airports['Fly_month'] = airports['Fly_date'].dt.month_name()
airports

,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long,empty_seats,Fly_day,Fly_month
0,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday,November
1,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday,December
2,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday,October
3,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday,February
4,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday,March
5,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday,January
6,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday,September
7,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday,November
8,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday,November
9,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday,December
10,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday,October
11,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday,February
12,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday,March
13,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday,January
14,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday,September
15,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday,November

Quelle zur Distanzberechnung: https://towardsdatascience.com/heres-how-to-calculate-distance-between-2-geolocations-in-python-93ecab5bbba4

In [8]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [9]:
direct_distance = haversine_distance(airports.Org_airport_lat, airports.Org_airport_long, airports.Dest_airport_lat, airports.Dest_airport_long)

airports['haversine_distance'] = direct_distance
airports

,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long,empty_seats,Fly_day,Fly_month,haversine_distance
0,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday,November,165.03
1,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday,December,165.03
2,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday,October,165.03
3,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday,February,251.24
4,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday,March,251.24
5,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday,January,251.24
6,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday,September,251.24
7,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday,November,251.24
8,41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,355,Thursday,November,165.03
9,88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,254,Saturday,December,165.03
10,11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150001,61,Monday,October,165.03
11,0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,18,Thursday,February,251.24
12,11,18,1,156,1990-03-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,7,Thursday,March,251.24
13,2,72,4,156,1990-01-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,70,Monday,January,251.24
14,7,18,1,156,1990-09-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,11,Saturday,September,251.24
15,7,36,2,156,1990-11-01,147300,76034,42.374199,-122.873001,44.254101,-121.150001,29,Thursday,November,251.24