# Ersetzen von fehlerhaften oder fehlenden Werten
Identifiziert man fehlende oder fehlerhafte Werte in einen Datenset, kann man diese entweder l√∂schen oder imputieren (ersetzen).

In [1]:
import pandas as pd

In [2]:
missings=['na','?','n/a','-']
penguins=pd.read_csv ('short_penguins.csv', na_values=missings)
penguins

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,NaN,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

In [3]:
median=penguins['flipper_length_mm'].median()
penguins['flipper_length_mm'].fillna(median, inplace=True)
penguins

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,183.0,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,183.0,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Oder mit Hilfe von forward fill (ffill) und backward fill (bfill) den vorderen oder nachfolgenden Wert zum Ersetzen nutzen.

In [4]:
penguins.fillna(method='bfill')

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,36.7,19.3,183.0,3450.0,female
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,183.0,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,male
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Oder man ersetzt einen fehlenden Wert direkt durch einen angenommenen Wert.

In [5]:
penguins.loc[14,'sex'] = 'female'
penguins

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,183.0,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,183.0,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

In [6]:
penguins.replace({'torgersen': 'Torgersen'})

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,183.0,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,183.0,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

In [7]:
penguins.replace({'torgersen': 'Torgersen', 'Dream': 'Dreams'})

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,183.0,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dreams,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dreams,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dreams,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dreams,40.9,18.9,183.0,3900.0,male
14,35,Adelie,Dreams,36.4,17.0,195.0,3325.0,female
15,36,Adelie,Dreams,37.2,18.1,178.0,6900.0,male