# Löschen von fehlerhaften oder fehlenden Werten
Identifiziert man fehlende oder fehlerhafte Werte in einem Datenset, kann man diese entweder löschen oder imputieren (ersetzen).

In [1]:
import pandas as pd

In [2]:
missings=['na','?','n/a','-']
penguins=pd.read_csv ('short_penguins.csv', na_values=missings)
penguins

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,NaN,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Die Zeilen werden gelöscht, in denen mindestens ein Element fehlt.

In [3]:
penguins.dropna()

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Die Spalten werden gelöscht, in denen mindestens ein Element fehlt.

In [4]:
penguins.dropna(axis='columns')

    id species     island
0    1  Adelie  torgersen
1    2  Adelie  Torgersen
2    3  Adelie  Torgersen
3    4  Adelie  Torgersen
4    5  Adelie  Torgersen
5   21  Adelie     Biscoe
6   22  Adelie     Biscoe
7   23  Adelie     Biscoe
8   24  Adelie     Biscoe
9   25  Adelie     Biscoe
10  31  Adelie      Dream
11  32  Adelie      Dream
12  33  Adelie      Dream
13  34  Adelie      Dream
14  35  Adelie      Dream
15  36  Adelie      Dream

Natürlich kann man auch nach einzelnen Spalten filtern.

In [5]:
penguins.dropna(subset=['bill_length_mm'])

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,NaN,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Zeilen und Spalten können auch mit Hilfe von tresh (Wert für tresh einsetzen) gelöscht werden: Behalte nur Zeilen/Spalten, die mindestens tresh nicht fehlende Werte haben.
Sehen wir uns gleich ein Beispiel an: Es sollen alle Zeilen behalten werden, die mind. 5 Merkmale besitzen, die Werte enthalten, die nicht NaNs sind.

In [6]:
penguins.dropna(thresh=5)

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,torgersen,39.1,18.7,181.0,3750.0,male
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
5,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female
6,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male
7,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female
8,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male
9,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male
10,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female
11,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male
12,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female
13,34,Adelie,Dream,40.9,18.9,NaN,3900.0,male
14,35,Adelie,Dream,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,Dream,37.2,18.1,178.0,6900.0,male

Behalte alle Spalten, in denen mindestens 15 Werte nicht fehlend sind:

In [7]:
penguins.dropna(thresh=15, axis=1)

    id species     island  bill_length_mm  bill_depth_mm  body_mass_g
0    1  Adelie  torgersen            39.1           18.7       3750.0
1    2  Adelie  Torgersen            39.5           17.4       3800.0
2    3  Adelie  Torgersen            40.3           18.0       3250.0
3    4  Adelie  Torgersen             NaN            NaN          NaN
4    5  Adelie  Torgersen            36.7           19.3       3450.0
5   21  Adelie     Biscoe            37.8           18.3       3400.0
6   22  Adelie     Biscoe            37.7           18.7       3600.0
7   23  Adelie     Biscoe            35.9           19.2       3800.0
8   24  Adelie     Biscoe            38.2           18.1       3950.0
9   25  Adelie     Biscoe            38.8           17.2       3800.0
10  31  Adelie      Dream            39.5           16.7       3250.0
11  32  Adelie      Dream            37.2           18.1       3900.0
12  33  Adelie      Dream            39.5           17.8       3300.0
13  34  Adelie      Dream            40.9           18.9       3900.0
14  35  Adelie      Dream            36.4           17.0       3325.0
15  36  Adelie      Dream            37.2           18.1       6900.0

Natürlich kann man auch ganze Spalten löschen.

In [8]:
penguins.drop(columns=['island'])

,id,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,Adelie,39.1,18.7,181.0,3750.0,male
1,2,Adelie,39.5,17.4,186.0,3800.0,female
2,3,Adelie,40.3,18.0,195.0,3250.0,female
3,4,Adelie,NaN,NaN,NaN,NaN,NaN
4,5,Adelie,36.7,19.3,193.0,3450.0,female
5,21,Adelie,37.8,18.3,174.0,3400.0,female
6,22,Adelie,37.7,18.7,180.0,3600.0,male
7,23,Adelie,35.9,19.2,189.0,3800.0,female
8,24,Adelie,38.2,18.1,185.0,3950.0,male
9,25,Adelie,38.8,17.2,180.0,3800.0,male
10,31,Adelie,39.5,16.7,178.0,3250.0,female
11,32,Adelie,37.2,18.1,178.0,3900.0,male
12,33,Adelie,39.5,17.8,188.0,3300.0,female
13,34,Adelie,40.9,18.9,NaN,3900.0,male
14,35,Adelie,36.4,17.0,195.0,3325.0,NaN
15,36,Adelie,37.2,18.1,178.0,6900.0,male